.list {
    background-color: white;
    width: 30%;
    height: 24em;
    display: inline-block;
    vertical-align: middle;
    border: 5px solid black;
    border-radius: 5px;
    margin: 0 auto 0 12%;
    float: left;
    min-width: 167px;

}

ul {
    list-style-type: none;
    font-size: 30px;
    font-family: Comic Sans, sans-serif;
}
body {
    background-color: blue;
}
h1 {
    color: white;
    font-family: Comic Sans, sans-serif;
    font-size: 50px;
    padding-left: 2%;
}
h2 {
    font-size: 30px;
    padding-left: 20px;
    font-family: Comic Sans, sans-serif;
}

h3 {
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    font-family: Comic Sans, sans-serif;
}


.contact {

    border: 5px solid black;
    border-radius: 5px;
    background-color: white;
    height: 3em;
    width: 20em;
    clear: both;
    display: block;
    margin: auto;
    float: none;
    padding-top: .5em;
}